{% extends "layout.html" %}

{% block content %}
    <h1>Parlays</h1>

    {% for date in dates %}
        <div class="accordion" id="parlaysAccordion">
            {% for parlay in date %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ loop.index }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ loop.index }}" aria-expanded="true" aria-controls="collapse-{{ loop.index }}">
                            <span class="text-primary">{{ parlay.user.username }}</span>
                            <span class="text-body mx-1">bet</span>
                            <span class="text-success">${{ "%0.2f" % parlay.wager }}</span>
                            <span class="text-body mx-1">on</span>
                            <span class="text-primary">{{ parlay.matchup.away }} @ {{ parlay.matchup.home }}</span>
                            <span class="text-body ms-1">(</span>
                            <span class="text-primary">{{ parlay.matchup.date }} {{ parlay.matchup.time }}</span>
                            <span class="text-body">)</span>
                        </button>
                    </h2>
                    <div id="collapse-{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ loop.index }}" data-bs-parent="#parlaysAccordion">
                        <div class="accordion-body">
                            {% for bet in parlay.bets %}
                                <div class="border border-secondary rounded p-2 mb-1 d-inline-block">{{ bet.category }}: {{ bet.details }} at {{ bet.odds }}</div>
                                <br>
                            {% endfor %}
                            Total odds: <div class="d-sm-inline-block border border-primary rounded p-2">{{ parlay.odds }} ({{ parlay.percent }}%)</div>
                            To win: <div class="d-sm-inline-block border border-success rounded p-2">${{ "%0.2f" % parlay.win }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}